:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #2f303a;
  --title-white-color: rgba(255, 255, 255, 0.6);
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Шапка сайта */

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.contact-link {
  display: flex;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.logo {
  color: var(--accent-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.studio {
  color: var(--primary-text-color);
}

.contact-link .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link.current {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-link .link:hover,
.contact-link .link:focus {
  color: var(--accent-color);
}

.contact-link .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact-link .link.current {
  color: var(--accent-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Герой */

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--primary-black-color);
}

.hero-title {
  margin-bottom: 30px; 
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: none;
  text-transform: uppercase;
}

.button-primary {
  display: inline-block;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

/* Особливості */

.section-list {
  padding-top: 94px;
}

.container-list {
  display: flex;
  text-decoration: none;
  justify-content: center;
}

.container-list .item + .item {
  margin-left: 30px;
}

.pec-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  line-height: 1.14;
}

.pec-text {
  width: 270px;
  color: var(--title-text-color);
  line-height: 1.7;
}

/* Чим ми займаємося */

.what-doing {
  margin-bottom: 50px;
  text-align: center; 
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
}

.container-work {
  display: flex;
}

.image-work {
  display: block;
  width: 370px;
}

.container-work .item + .item {
  margin-left: 30px;
}

/* Наша команда */

.section-team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-comand {
  padding: 30px;
}

.team {
  margin-bottom: 50px;
}

 .team-title {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-decoration: none;
}

.our-people {
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.people {
  text-align: center;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btns li:not(:first-child) {
  margin-left: 8px;
}

.btns .btn-style {
  background-color: #f5f4fa;
  color: var(--primiry);
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: none;
}

.btns .btn-style:hover,
.btns .btn-style:focus {
  background-color:var(--accent-color);
  color: var(--primary-white-color);
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.flex-container {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.desing-page {
  padding: 20px 24px;
  border: 4px solid var(--primary-white-color);
}

.flex-container:nth-child(3n) {
  margin-right: 0;
}

.flex-container:nth-last-child(-1 + 3n) {
  margin-bottom: 0;
}

.desing-list {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.desing-title {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.button-applications.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-black-color);
}

.footer .container {
  display: block;
  justify-content: flex-start;
  align-content: flex-start;
}

.address-list {
 margin-top: 9px;
}

.address-list .address-mail .address-tel {
  text-decoration: none;
  font-style: normal;
}

.address {
  margin-top: 20px;
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}

.top-list {
  margin-top: 9px;
}

.address-city {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address-mail {
  color: var(--title-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address-tel {
  color: var(--title-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.tipo {
  color: var(--primary-white-color);
}
